@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Oleo+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
.navbar{
    @apply bg-gradient-to-r from-blue-400 to-green-400 py-3 flex;
}
.footer{
    @apply bg-gradient-to-l from-violet-400 to-red-400 py-3 flex;
}
@tailwind utilities;
.nav-li{
    @apply text-white my-2 font-bold mx-2 hover:rounded-full hover:px-1 hover:bg-white text-[0.65rem] sm:text-sm md:text-base lg:text-lg xl:text-lg;
    transition:1s;
}
.nav-li:hover{
    color: black;
}
.nav-a{
    @apply italic text-white no-underline;
    transition: 1s;
}
.hash{
    @apply flex flex-nowrap bg-gray-300 rounded-full px-3 py-1 text-xs sm:text-xs md:text-sm lg:text-sm xl:text-sm font-semibold text-gray-800 mr-1 sm:mr-1 md:mr-2 lg:mr-3 xl:mr-3 mb-2;
}
.nav-a:hover{
    color: black;
    padding: 1rem;
}
.oleo{
    font-family: 'Oleo Script', cursive;
}
.title{
    @apply text-base text-white mx-3 sm:text-2xl md:text-3xl lg:text-4xl xl:text-4xl 2xl:text-6xl flex;
    font-family: 'Architects Daughter', cursive;
}
.title-a{
    @apply italic text-white no-underline;
}
.order-label{
    @apply sm:text-xs md:text-base lg:text-lg xl:text-lg block text-gray-500 text-sm font-bold md:text-right mb-1 md:mb-0 pr-4;
}
.order-form{
    @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded sm:w-full text-sm md:text-base lg:text-lg xl:text-lg md:w-full lg:w-full xl:w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500;
}
.contact-form{
    @apply text-center text-4xl;
    /* font-family: 'Hubballi', cursive; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.address{
    /* font-family: 'Koulen', cursive; */
    /* font-family: 'Cabin', sans-serif; */
    font-family: monospace;
}